@font-face { 
	font-family: 'S-CoreDream-3Light'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}

#bootstrap-override3{
	font-family: 'S-CoreDream-3Light'; 
	font-size:14px;
}
h3{
	font-family: 'S-CoreDream-3Light'; 
	border-bottom:1px lightgray;
}
#well{
	min-height:10px;
	padding:5px;
	background-color:#f5f5f5;
	border-radius:4px;
	margin-bottom:7px;
	margin-top:20px;
	text-align:center;
}
.content-box1,
.content-box2{
	display:inline-block;
	margin-top:10px;
}
.content1{
	display:inline-block;
	float:left;
	margin:0 5px;
}
.content2{
	display:inline-block;
	float:right;
	margin:0 5px;
}
#title{
	width:500px;
}
#writer{
	width:170px;
}
.form11{
	width:300px;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
	margin-bottom:10px;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
iframe{
	border-radius:4px;
	margin-top:15px;
	margin-bottom:15px;
	display: block;
	visibility: visible;
}
@media only screen and (max-width: 992px){
	select{
		width:100%;
	}
	#title{
		width:100%;
	}
	#writer{
		width:100%;
	}
	.content2{
		float:left;
		margin-left:5px;
	}
	.form11{
		width:40%;
	}
}