@font-face { 
	font-family: 'S-CoreDream-3Light'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}
#bootstrap-override2{
	font-family: 'S-CoreDream-3Light'; 
	font-size:14px;
}
#bootstrap-override2 h3{
	font-family: 'S-CoreDream-3Light'; 
}
#bootstrap-override2 #well{
	min-height:10px;
	padding:5px;
	background-color:#f5f5f5;
	border-radius:4px;
	margin-bottom:7px;
}
#bootstrap-override2 #table{
	border-spacing: 10px;
	border-collapse: separate;
	border:none;
}
#bootstrap-override2 #well{
	min-height:10px;
	padding:5px;
	background-color:#f5f5f5;
	border-radius:4px;
	margin-bottom:7px;
}
.form2{
	display:inline;
}
.btn11{
	width:40px;
	margin:0;
	padding:7px;
	border:0;
	border-radius:4px;
	background-color:transparent;
}
.ul1 ul li {
  list-style: none;
  margin-left: 0;
 }
.ul1 ul > li > a {
  color: #797D7F;
  text-decoration: none;
  display: block;
 }
.ul1 ul > li:hover > a,
.ul1 ul > li:focus > a,
.ul1 ul > li:active > a,
.ul1 ul > li.active >a {
  color: black;
  font-weight: bold;
 }
 .gradient-btn1 {
    margin: 10px;
    font-family: 'S-CoreDream-3Light, sans-serif;
    font-size: 20px;
    padding: 7px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    width: 100px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    display: inline-block;
}
.gradient-btn1:hover{
    margin: 8px 10px 12px;
}
.gradient-btn2 {
	background-image: linear-gradient(to right, #c2e59c 0%, #64b3f4 51%, #c2e59c 100%)
}
 #a2-icon1{
	display: none;
	cursor: pointer;
}
.row-box{
	margin-top:10px;
}
#img1{
	display: inline-block;
	width:250px;
	height:200px;
	background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
	overflow:hidden;
	margin-bottom:5px;
	padding:0;
}
.colcol{
	margin-bottom:10px;
}
.center1{
	text-align:center;
}
.content-font1{
	font-family:'S-CoreDream-3Light';
	font-size:14px;
}
.content-box1{
	width:250px;
}
@media only screen and (max-width:992px) {
 .a22{
  	display: none;
  }
  #a2-icon1{
  	display: inline-block;
  	font-size: 18px;
  }
  #a2-icon1:hover{
  	color: #999;
  }
  #table tr td{
	display:inline-block;
  }
  #img1{
  	width:200px;
  	height:150px;
  }

}
@media only screen and (max-width:400px) {
	#img1{
  	width:100%;
  	height:200px;
  }