@font-face { 
	font-family: 'S-CoreDream-3Light'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff'); 
	font-weight: normal; 
	font-style: normal; 
}
#bootstrap-override{
	font-family: 'S-CoreDream-3Light'; 
	font-size:14px;
}
#bootstrap-override h3{
	font-family: 'S-CoreDream-3Light'; 
}
#bootstrap-override table{
	text-align:center;
}
#bootstrap-override #well{
	min-height:10px;
	padding:5px;
	background-color:#f5f5f5;
	border-radius:4px;
	margin-bottom:7px;
}
.form2{
	display:inline;
}
.btn11{
	width:40px;
	margin:0;
	padding:7px;
	border:0;
	border-radius:4px;
	background-color:transparent;
}
.ul1 ul li {
  list-style: none;
  margin-left: 0;
 }
.ul1 ul > li > a {
  color: #797D7F;
  text-decoration: none;
  display: block;
 }
.ul1 ul > li:hover > a,
.ul1 ul > li:focus > a,
.ul1 ul > li:active > a,
.ul1 ul > li.active >a {
  color: black;
  font-weight: bold;
 }

