.nav-tabcontain{
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	width:50%;
	font-size: 20px;
  	
}


.nav-tabs li.active a{
	color:black;
	border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #000000;
}
.nav-tabs li a{
	color:#c0c0c0;
	font-weight: 600;
	font-size: 1.2rem;
	line-height: 50px;
    padding: 0 15px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
    margin-right: 10px;
    margin-bottom: -1px;
    outline: none;
    outline-color: initial;
    outline-style: none;
    outline-width: initial;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    -webkit-transition: all 150ms;
    transition: all 150ms;
}

.nav-tabs li a:hover{
	color: #6a6a6a;
}
#mainNav .container #navbarResponsive .login-active{
	display:inline-block;
}
#mainNav .container #navbarResponsive .login-inactive{
	display:none;
}
.tab-content .tab-table1{
	font-weight:540;
	font-size:15px;
}
.tab-content .tab-table1 tr .maintable-category{
	width: 25%;
	text-align: left;
	vertical-align: middle;
}
.tab-content .tab-table1 tr .maintable-title{
	width: 65%;
	text-align: left;
}
.tab-content .tab-table1 tr .maintable-view {
	width: 10%;
	text-align: center;
	vertical-align: middle;
}
.post-tab11{
	margin: 0 0 0 20px;
}

.post-tab11 .post-tabs{
	margin: 10px 0px;
}


@media only screen and (max-width: 1620px) {
	.post-tab11{
		margin: 0 0 0 0px;
	}
}
@media only screen and (max-width: 1420px) {
	.post-tab11{
		margin: 0 0 0 -50px;
	}
}
@media only screen and (max-width: 1220px) {
	.post-tab11{
		margin: 0 0 0 -80px;
	}
}
@media only screen and (max-width: 1020px) {
	.post-tab11{
		margin: 0 0 0 -200px;
	}
}
@media only screen and (max-width: 768px) {
	.post-tab11{
		margin: 0 0 0 -100px;
		width:410px;
	}
	.tab-content .tab-table1 tr .maintable-category{
		width: 23%;
	}
	.tab-content .tab-table1 tr .maintable-title{
		width: 67%;
	}
}
@media only screen and (max-width: 450px) {
	.post-tab11{
		width:360px;
	}
	.tab-content .tab-table1 tr .maintable-category{
		font-size: 13px;
		width:25%;
	}
	.tab-content .tab-table1 tr .maintable-title{
		font-size: 13px;
		width:65%;
	}
	.tab-content .tab-table1 tr .maintable-view {
		font-size: 13px;
		width:10%;
	}
}