*,::after,::before{
	box-sizing: unset;
}
.mypage1{
	margin: 80px auto;
}
.mypage-border .navpills li {
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	font-size: 17px;
	font-weight: 600;
}
.mypage-border .mypage-table{
	margin-top: 15px;
	text-align: center;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
	
}
.mypage-border .mypage-table .table-header{
	background: #dedede;
	font-weight:550;
	width:200px;
	font-size:16px;
}

.mypage-border .mypage-table .table-child{
	font-size:16px;
	font-weight: 500;
}

.mypage-border .mypage-table .tablebt-tr:hover{
	background:white;
}
.mypage-border .mypage-table .tablebt{
	font-size: 17px;
	font-weight: 550;
}

.mypage-border .mypage-table .modal-table .table-header{
	width:150px;
}
.page1 ul li a{
	color: black;
	font-size: 16px;
}

@media only screen and (max-width: 768px) {
	.mypage-border .mypage-table .table-header{
		width: 150px;
		font-size: 15px;
	}
	.mypage-border .mypage-table .table-child{
		font-size:15px;
	}
	
	
	
	
	
	
	.numtd{
		display:none;
	}	
	.showtd{
		width:50px;
		max-width: 50px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.uptd{
		width:70px;
		max-width: 70px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.datetd{
		width:50px;
		max-width: 50px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.titletd{
		width:130px;
		max-width: 130px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.commenttd{
		width:160px;
		max-width: 160px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
@media only screen and (max-width: 450px) {

	.mypage-border .navpills .nav-item a {
		font-size: 16px;
	}	
}