div.dataTables_info{
    display:none;
}
#example5 thead tr td{
    padding-left: 30px;
}
table.dataTable{clear:both;margin-top:6px !important;margin-bottom:6px !important;max-width:none !important;border-collapse:separate !important}
table.dataTable td,table.dataTable th{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
table.dataTable td.dataTables_empty,table.dataTable th.dataTables_empty{text-align:center}
table.dataTable.nowrap th,table.dataTable.nowrap td{white-space:nowrap}
div.dataTables_wrapper div.dataTables_length label{
    display:none;
}
div.dataTables_wrapper div.dataTables_length select{
    width:75px;
    display:inline-block;
}
div.dataTables_wrapper div.dataTables_filter{display: none;}
div.dataTables_wrapper div.dataTables_filter{text-align:right}
div.dataTables_wrapper div.dataTables_filter label{font-weight:normal;white-space:nowrap;text-align:left}
div.dataTables_wrapper div.dataTables_filter input{margin-left:0.5em;display:inline-block;width:auto}
div.dataTables_wrapper div.dataTables_info{padding-top:8px;white-space:nowrap}


div.dataTables_wrapper div.dataTables_paginate{
    margin:0;
    white-space:nowrap;
    text-align:center;
    margin-top: 20px;
}
div.dataTables_wrapper div.dataTables_paginate a{
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin-right: 5px;
    color:#949494;
    border-width: 3px;
    border-color: black;
}
div.dataTables_wrapper div.dataTables_paginate a:focus,
div.dataTables_wrapper div.dataTables_paginate a:hover{
    color:black;
}
div.dataTables_wrapper div.dataTables_paginate #example5_previous{
    visibility: hidden;
    margin-right: -50px;
}
div.dataTables_wrapper div.dataTables_paginate #example5_previous:hover{
    text-decoration: none;
}
div.dataTables_wrapper div.dataTables_paginate #example5_previous:before{
    visibility:visible;
    content: '이전';
}
div.dataTables_wrapper div.dataTables_paginate #example5_next{
    visibility: hidden;
}
div.dataTables_wrapper div.dataTables_paginate #example5_next:before{
    visibility:visible;
    content: '다음';
    margin-left: 10px;
}
div.dataTables_wrapper div.dataTables_paginate #example5_next:hover{
    text-decoration: none;
}
div.dataTables_wrapper div.dataTables_processing{position:absolute;top:50%;left:50%;width:200px;margin-left:-100px;margin-top:-26px;text-align:center;padding:1em 0}
table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting,table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting{
    padding-right:30px
}
table.dataTable thead>tr>th:active,
table.dataTable thead>tr>td:active{
    outline:none
}
table.dataTable thead .sorting,table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled{
    cursor:pointer;
    position:relative
}

@media screen and (max-width: 767px){
    div.dataTables_wrapper div.dataTables_length,div.dataTables_wrapper div.dataTables_filter,div.dataTables_wrapper div.dataTables_info,div.dataTables_wrapper div.dataTables_{text-align:center}
}
table.dataTable.table-condensed>thead>tr>th{padding-right:20px}table.dataTable.table-condensed .sorting:after,table.dataTable.table-condensed .sorting_asc:after,table.dataTable.table-condensed .sorting_desc:after{top:6px;right:6px}
table.table-bordered.dataTable th,table.table-bordered.dataTable td{border-left-width:0}table.table-bordered.dataTable th:last-child,table.table-bordered.dataTable th:last-child,table.table-bordered.dataTable td:last-child,table.table-bordered.dataTable td:last-child{border-right-width:0}
table.table-bordered.dataTable tbody th,table.table-bordered.dataTable tbody td{border-bottom-width:0}
div.dataTables_scrollHead table.table-bordered{border-bottom-width:0}
div.table-responsive>div.dataTables_wrapper>div.row{margin:0}div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:first-child{padding-left:0}
div.table-responsive>div.dataTables_wrapper>div.row>div[class^="col-"]:last-child{padding-right:0}