
.xm .border1{
	margin:30px auto;
	margin-bottom: 60px;
	padding:25px 30px;
	border: 1px solid #ccc;
	border-radius:12px;
	border-color: #c0c0c0;
}
em{
	font-size:12px;
	font-style: italic;
	margin-right: -5px;
}
.xm .border1 .form-group h6{
	display:inline;
	font-size:14px;	
}

.xm .border1 a{
	margin-left: 10px;
	font-size: 14px;
    font-weight: 800;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.xm .border1 a:hover{
	text-decoration: none;
	color: #30a4b8
}

.xm .border1 button{
	font-size: 14px;
}
.xm .border1 button:hover {
	
	color: #30a4b8
}


table{
	width: 100%;	
}

table td{
	padding : 0px;
	margin: 0px;
}

table span{
	font-size:12px;
	font-style: italic;
	color : red;
}

table #checkbox1{
	width : 15%;
	padding-left:10px; 
}

table #checkbtn{
	background-color: #ffffff;
	font-size: medium;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
 	outline : 0;	
	}

.xm .border1 .form-group{
	margin-bottom: 0px;
	padding : 0;
}	

