

#bootstrap-override select {
  padding: .5em;
  font-family: inherit;
  font-size: 14px;
  background-color:white;
  border: none;
  border-radius: 4px;
  text-align:center;
}

select::-ms-expand {
  /* for IE 11 */
  display: none;
}