<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team4.biz.board.dao.BoardDAO">
    <select id="selectBoardList" resultType="BoardVO">
        select * from BOARD
    </select>
    <select id="selectBoardName" parameterType="BoardVO" resultType="BoardVO">
        select boardname from BOARD where id=#{id}
    </select>
    <select id="selectAllArtList" resultType="ArticleVO">
        select * from ARTICLE order by DATE_CREATED desc
    </select>
    <select id="selectArtList" parameterType="BoardVO" resultType="ArticleVO">
        select * from ARTICLE where BOARD_ID=#{id} order by
        case when #{sort}='lately' then DATE_CREATED end desc,
        case when #{sort}='view' then VIEW_CNT end desc,
        case when #{sort}='up' then UP_CNT end desc,
        case when #{sort}='comment' then COMMENT_CNT end desc
    </select>
    <select id="searchArt" parameterType="BoardVO" resultType="ArticleVO">
        select * from ARTICLE where BOARD_ID=#{id}
        and (case when #{search_style}='title' then TITLE ELSE WRITER end) like '%'||#{keyword}||'%'
    </select>
    <select id="searchArtFromUser" parameterType="MypageVO" resultType="MypageVO">
        select b.BOARDNAME,a.* from BOARD b,ARTICLE a where b.id=a.BOARD_ID and a.WRITER_id=#{writer_id}
    </select>
    <select id="getMyComments" parameterType="MypageVO" resultType="MypageVO">
        select b.BOARDNAME,a.BOARD_ID,c.id,a.TITLE,c.CONTENT,c.DATE_CREATED from BOARD b,COMMENTS c,ARTICLE a
        where b.id=a.BOARD_ID and a.ID=c.ARTICLE_ID and c.WRITER_ID=#{writer_id}
    </select>

    <insert id="insertArticle" parameterType="ArticleVO">
        insert into article(id, board_id, title, writer, writer_id, up_cnt, view_cnt, text, date_created, category, visible, comment_cnt) 
        values (null, #{board_id}, #{title},#{writer},#{writer_id},0,0,#{text},sysdate,#{category},'1',0)
    </insert> 
    
    <!--select * from ARTICLE where BOARD_ID=#{id}
    and (case when #{search_style}='title' then TITLE ELSE WRITER) like '%'||#{keyword}||'%'-->
    <!--where BOARD_ID=#{id} and (case when #{search_style}='title' then TITLE ELSE WRITER) like '%게시판%'-->
    <!--<insert id="insertBoard" parameterType="BoardVO">
        insert into BOARD(seq,title,writer,content) values ((select nvl(max(seq),0)+1 from board),#{title},#{writer},#{content})
    </insert>
    <update id="updateBoard" parameterType="BoardVO">
        update board set title = #{title},content = #{content} where seq=#{seq}
    </update>
    <delete id="deleteBoard" parameterType="BoardVO">
        delete from board where seq=#{seq}
    </delete>
    <select id="getBoard" parameterType="BoardVO" resultType="BoardVO">
        select * from BOARD where SEQ=#{seq}
    </select>
    <select id="getBoardList" resultType="BoardVO">
        select * from BOARD
    </select>-->
</mapper>
