<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team4.biz.user.dao.UserDAO">
    <!--<insert id="insertUser" parameterType="UserVO">
        insert into users values (#{id},#{password},#{name})
    </insert>
    <update id="updateUser" parameterType="UserVO">
        update users set id = #{id},password = #{password} where name=#{name};
    </update>
    <delete id="deleteUser" parameterType="UserVO">
        delete from users where id=#{id}
    </delete>
    <select id="getUser" parameterType="UserVO" resultType="UserVO">
        select * from users where id=#{id} and password=#{password}
    </select>
    <select id="getUserList" resultType="UserVO">
        select * from users order by name asc
    </select>-->
</mapper>
