<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team4.biz.user.dao.UserDAO">
  <insert id="inserUser" parameterType="UserVO">
        insert into users values (users_SEQ.nextval, #{username},#{password},#{nickname},#{tel},sysdate)
    </insert>
    <update id="updateUser" parameterType="UserVO">
        update users set password=#{password}, nickname=#{nickname}, tel=#{tel} where id=#{id}
    </update>
    <delete id="deleteUser" parameterType="UserVO">
        delete from users where id=#{id}
    </delete>
    <select id="selectOneUser" parameterType="UserVO" resultType="UserVO">
        select * from users where username=#{username} and password=#{password}
    </select>
    <select id="selectAllUser" resultType="UserVO">
        select * from users order by id asc
    </select>
</mapper>
